In [2]:
# Importing Require Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV, ElasticNetCV, Ridge, Lasso
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as sm
import scipy.stats as stats

In [3]:
#Importing Dataset from sklearn
import sklearn
from sklearn.datasets import load_boston
boston = load_boston()

In [4]:
df=pd.DataFrame(boston.data)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
#Checking Datatype of each Column & Here No any null values present.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       506 non-null    float64
 1   1       506 non-null    float64
 2   2       506 non-null    float64
 3   3       506 non-null    float64
 4   4       506 non-null    float64
 5   5       506 non-null    float64
 6   6       506 non-null    float64
 7   7       506 non-null    float64
 8   8       506 non-null    float64
 9   9       506 non-null    float64
 10  10      506 non-null    float64
 11  11      506 non-null    float64
 12  12      506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [8]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [9]:
# Defining Features & Target Variable
x = df.iloc[:,:12]
y = df.iloc[:,12]

In [10]:
x.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90

In [11]:
# Converting x into Scaled Values.
scaler= StandardScaler()
x_scaled= scaler.fit_transform(x)

In [12]:
# Checking Colinearity of features with the help of VIF 
from statsmodels.stats.outliers_influence import variance_inflation_factor
#variables= x_scaled
vif = pd.DataFrame()
vif["Features"] = x.columns
vif["VIF"] = [variance_inflation_factor(x_scaled, i) for i in range(x.shape[1])]

In [13]:
vif

    Features       VIF
0          0  1.750401
1          1  2.292269
2          2  3.968425
3          3  1.070202
4          4  4.372942
5          5  1.380407
6          6  2.740023
7          7  3.950097
8          8  7.474983
9          9  9.006439
10        10  1.795374
11        11  1.316102

In [14]:
x_scaled_df=pd.DataFrame(x_scaled)
x_scaled_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052

In [15]:
#VIF Value is high for column name 7, 8. so droping these columns
x_scaled_df = x_scaled_df.drop([7,8], axis=1)

In [16]:
x_scaled_df

,0,1,2,3,4,5,6,9,10,11
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,-0.666608,-1.459000,0.441052
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,-0.987329,-0.303094,0.441052
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,-0.987329,-0.303094,0.396427
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,-1.106115,0.113032,0.416163
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,-1.106115,0.113032,0.441052
...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.803212,1.176466,0.387217
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.803212,1.176466,0.441052
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.803212,1.176466,0.441052
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.803212,1.176466,0.403225
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.803212,1.176466,0.441052

In [17]:
# spliting data into train & test
x_train,x_test,y_train,y_test= train_test_split(x_scaled_df,y,test_size=0.25)

In [18]:
# Applying Linear Regression Model
regression = LinearRegression()
model= regression.fit(x_train, y_train)

In [20]:
#Save model
import pickle
filename = 'Bostan_House_model.pickle'
pickle.dump(model, open(filename, 'wb'))

In [31]:
y_pred = regression.predict(x_test)

In [19]:
model.score(x_train,y_train)

0.668533712239522

In [20]:
model.score(x_test,y_test)

0.6189941276510506

In [21]:
def adj_r2(x,y):
    r2=regression.score(x,y)
    n=x.shape[0]
    p=x.shape[1]
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return(adjusted_r2)

In [22]:
adj_r2(x_train,y_train)

0.6595264761590742

In [23]:
adj_r2(x_test,y_test)

0.5861487938278653